/node_modules
/public/hot
/public/storage
/public/cron
/storage/*.key
/vendor
/report
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
/config/ide-helper.php
