body.contact-us-email {
    color: white;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

div.contact-us-email,
div.email-receipt {
    color: white;
    background-color: $light-green;
    padding: 20px;
    margin: auto;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    border: 1px solid $lighter-green;
    text-shadow: none;
    font-size: 14px;
    text-align: center;
    .logo {
        width: 100%;
    }
    hr {
        max-width: 450px;
    }
    h2 {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 5px;
    }
    h5 {
        color: white;
    }
    p { 
        color: white;
    }
    table {
        margin: auto;
        max-width: 450px;
        tbody {
            th#sent_by, th#email, th#date_received {
                width: 30%;
                text-align: right;
                border-right: 1px solid $lighter-green;
            }
            th { 
                color: white;
                width: 40%;
            }
            th#subject, th#message {
                width: 30%;
                text-align: right;
                border-right: 1px solid $lighter-green;
            }
            td#subject_td, td#message_td {
                width: 70%;
                font-size: 1.1em;
            }
            td {
                color: white;
                width: 70%;
                text-align: left;
                vertical-align: middle;
            }
        }
    }
}