div.contact-us-email {
    font-size: 1.3em;
    .panel {
      margin: auto;
    }

    .bg {
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #000 url("http://www.kingdomhire.com/static/nav.jpg") 45% 40% no-repeat;
    }
    table {
      tbody {
        th {
          width: 45%;
          border-right: 1px solid $lighter-green;
          text-align: right;
        }
        td {
          width: 55%
        }
      }
    }
  }