body.contact-us-email {
    color: white;
    background-color: $dark-green;
    padding-top: 30px;
    padding-bottom: 30px;
}

div.contact-us-email {
    color: white;
    background-color: $light-green;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 60%;
    max-width: 100%;
    border-radius: 10px;
    border: 1px solid $lighter-green;
    text-shadow: none;
    font-size: 1.2em;
    text-align: center;
    .logo {
        width: 500px;

    }
    hr {
        width: 55%;
    }
    table {
        margin: auto;
        width: 55%;
        tbody {
            th {
                width: 45%;
                text-align: right;
            }
            td {
                width: 55%;
                text-align: left;
            }
        }
    }
    .content {
        h2 {
            text-align: center;
            margin-top: 50px;
            margin-bottom: -10px;
        }
        p { 
            width: 55%;
            margin: auto;
            text-align: left;
            padding-left: 2.5%;
            padding-right: 2.5%;
        }
    }
}