.has-error .help-block,
.has-error .control-label {
  color: white;
}

.alert-danger {
  margin-bottom: 0;
}

.form-control[readonly] {
  background-color: $dark-green;
}

#start_date_readonly {
  background-color: $input-bg-disabled;
}