.vehicle-img {
  img.public, img.admin {
    width: 100%;
    @media(max-width:767px) {
      height: 225px;
    }
    @media(min-width:768px) {
      height: 257px;
    }
    @media(min-width:992px) {
      height: 200px;
    }
    @media(min-width:1200px) {
      height: 200px;
    }
  }
  img.dashboard {
    width: 100%;
    @media(max-width:767px) {
      height: 265px;
    }
    @media(min-width:768px) {
      height: 257px;
    }
    @media(min-width:992px) {
      height: 200px;
    }
    @media(min-width:1200px) {
      height: 265px;
    }
  }
  div.vehicle-img-na {
    height: 100%;
    h2 {
      margin: 0;
      text-align: center;
      height: 100%;
      line-height: 200px;
      vertical-align: middle;
    }
    h2.public, h2.admin {
      @media(max-width:767px) {
        line-height: 225px;
      }
      @media(min-width:768px) {
        line-height: 257px;
      }
      @media(min-width:992px) {
        line-height: 200px;
      }
      @media(min-width:1200px) {
        line-height: 200px;
      }
    }
    h2.dashboard {
      @media(max-width:767px) {
        line-height: 265px;
      }
      @media(min-width:768px) {
        line-height: 257px;
      }
      @media(min-width:992px) {
        line-height: 200px;
      }
      @media(min-width:1200px) {
        line-height: 200px;
      }
    }
  }
  position: relative;
  margin-bottom: 0;
  transition: 0.5s;
  background-color: $dark-green;

  button.vehicle-img-button {
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 0px 4px 0px 0px;
    border-color: $lighter-green;
    border-left: 0;
    border-bottom: 0;
    font-size: 14px;
  }

  a.vehicle-dashboard-button {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 4px 0px 0px 0px;
    border-color: $lighter-green;
    border-right: 0;
    border-bottom: 0;
    font-size: 14px;
  }
}