%jumbotron-base {
  //width: 100%;
  //height: 100%;
  //alignment: center;
  //max-width: 3000px;
  margin: 0;
  overflow: hidden;
  // text-shadow: 2px 2px rgba(0,0,0,0.4);
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  //box-shadow: inset 0 0 20px 10px rgba(0,0,0,0.8);
  //margin-bottom: 0;
}

%jumbotron-base-img {
  //width: 60%;
  //height: 100%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  //z-index: 1;
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -o-filter: blur(6px);
  -ms-filter: blur(6px);
  filter: blur(6px);
  transform: scale(1.03);
  // opacity: 0.9;
  //margin: auto;
}

.jumbotron-nav {
  @extend %jumbotron-base;
  // text-align: center;

  .bg {
    @extend %jumbotron-base-img;
    //background: #000 url("/static/nav-img.jpg") 50% 40% no-repeat;
    background: #000 url("/static/nav.jpg") 45% 40% no-repeat;
  }
}

.jumbotron-home {
  @extend %jumbotron-base;
  // text-align: center;
  box-shadow: inset 0px 0px 0px 2px black;

  .bg {
    @extend %jumbotron-base-img;
    background: #000 url("/static/nav-img.jpg") 50% 40% no-repeat;
    filter: blur(10px);
  }
}

.jumbotron-vehicles {
  @extend %jumbotron-base;
  // text-align: center;
  box-shadow: inset 0px 0px 0px 2px black;

  .bg {
    @extend %jumbotron-base-img;
    background: #000 url("/static/van.jpg") 45% 44% no-repeat;
    filter: blur(10px);
  }
}

.jumbotron-contact {
  // text-align: center;
  @extend %jumbotron-base;
  box-shadow: inset 0px 0px 0px 2px black;

  .bg {
    @extend %jumbotron-base-img;
    background: #000 url("/static/carRepair.jpg") 50% 38% no-repeat;
    filter: blur(10px);
  }
}

@mixin jumbotron-bg($img) {
  background: #000 url($img) center center no-repeat;
}

@mixin jumbotron-text($text-align) {
  text-align: $text-align;
}

.jumbotron .container {
  position:relative;
}

.jumbotron-vehicle-dashboard {
  border-radius: 0 !important;
  margin-bottom: 0 !important;
  min-height: 650px;
}

.jumbotron-admin {
  margin-bottom: 0;
}

.jumbotron-header {
  margin-bottom: 0;
  padding-top: 28px;
}

.jumbotron-content {
  background-color: $light-green;
  margin-bottom: 0;
}

.jumbotron-footer {
  text-align: center;
  padding: 0;
  margin: 20px 0 20px 0;
  height: 20px;
}

.jumbotron-admin-footer {
  p {
    margin-bottom: 0;
  }
  background-color: $light-green;
  text-align: center;
  margin: 0;
  padding: 20px 0 20px 0;
}