%jumbotron-base {
  margin: 0;
  overflow: hidden;
  position: relative;
  padding-top: 130px;
  padding-bottom: 130px;
  @media(max-width:767px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

%jumbotron-base-img {
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -o-filter: blur(6px);
  -ms-filter: blur(6px);
  filter: blur(6px);
  transform: scale(1.02);
  @media(max-width:767px) {
    transform: scale(1.5);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
  }
}

.jumbotron-nav {
  @extend %jumbotron-base;

  .bg {
    @extend %jumbotron-base-img;
    background-image: url("/static/nav.jpg");
    background-position: 50% 45%;
    background-repeat: no-repeat;
    @media(max-width:767px) {
      background-position: 0px -30px;
    }
  }
}

.jumbotron-with-bg {
  @extend %jumbotron-base;
  min-height: 900px;

  .bg {
    @extend %jumbotron-base-img;
    background-image: url("/static/nav.jpg");
    background-position: 0% 60%;
    @media(max-width:767px) {
      background-position: -250px -75px;
    }
    background-repeat: no-repeat;
  }
}

@mixin jumbotron-bg($img) {
  background: #000 url($img) center center no-repeat;
}

@mixin jumbotron-text($text-align) {
  text-align: $text-align;
}

.jumbotron .container {
  position: relative;
}

.jumbotron-vehicle-dashboard {
  border-radius: 0 !important;
  margin-bottom: 0 !important;
  min-height: 650px;
}

.jumbotron-admin {
  margin-bottom: 0;
}

.jumbotron-header {
  margin-bottom: 0;
  padding-bottom: 30px;
}

.jumbotron-content {
  background-color: $light-green;
  margin-bottom: 0;
  padding-bottom: 30px;
}

.jumbotron-footer {
  text-align: center;
  padding: 0;
  margin: 20px 0 20px 0;
  height: 20px;
}

.jumbotron-admin-footer {
  p {
    margin-bottom: 0;
  }
  background-color: $light-green;
  text-align: center;
  margin: 0;
  padding: 20px 0 20px 0;
}
