nav {
  font-size: 1.3em !important;
}

.navbar-nav > li > a {
  text-align: center;
}

.public-navbar {
  margin-bottom: 0;
  border: 0;
}

.admin-navbar {
  border: 0;
  margin-bottom: 0;
}

.public-navbar-header {
  min-width: 100%;
}

.navbar-header {
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-toggle {
  margin-right: 2px;
}

.vehicle-dashboard-navbar-tabs {
  border-radius: 4px 4px 0 0;
  margin-bottom: 0;
}

.vehicle-dashboard-navbar-tabs > li > a:hover {
  background-color: $dark-green !important;
  border-top: 1px solid rgb(75, 206, 138);
  border-left: 1px solid rgb(75, 206, 138);
  border-right: 1px solid rgb(75, 206, 138);
}

.tab-pane {
  @extend %scene_element--fadeinup;
}

.vehicle-navbar-tabs {
  padding: 10px;
}
.vehicle-navbar-tabs > li > a {
  font-size: 1.2em;
}
.vehicle-navbar-tabs > li > a:hover {
  background-color: lighten($light-green, 2.5%) !important;
  border: 1px solid $lighter-green;
}

.vehicle-navbar-tabs > li > a:focus {
  background-color: $light-green;
}

.vehicle-navbar-tabs > li > a:active {
  background-color: lighten($light-green, 2.5%) !important;
}

.vehicle-dashboard-navbar-tabs > li > a:focus {
  background-color: $dark-green;
}

.vehicle-dashboard-navbar-tabs > li > a:active {
  background-color: $dark-green !important;

}

.nav-pills > li > a {
  color: $text-color;
  text-align: center;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: lighten($light-green, 2.5%) !important;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  border: 1px solid $lighter-green;
}