.panel-body,
.panel-heading {
  color: white;
  h5 {
    margin: 5px 0 0 0;
  }
  h2 {
    margin: 0;
  }
  h4 {
    margin: 5px 0 0 0;
  }
}

//.panel-body > h5,
//.panel-heading > h5 {
//  color: white;
//  margin: 5px 0 0 0;
//}
//
//.panel-body > h2,
//.panel-heading > h2 {
//  color: white;
//  margin: 0;
//  //padding-left: 15px;
//}