.panel {
  box-shadow: 0px 0px 5px rgba(0,0,0, 0.2);
  color: white;
  h5 {
    margin: 5px 0 0 0;
  }
  h2 {
    margin: 0;
  }
  h3 {
    text-align: center;
    margin: 0;
  }
  h4 {
    margin: 5px 0 0 0;
  }
  .panel-heading {
    text-align: center;
  }

  .panel-body {
    h4 {
      text-align: center;
      margin: 5px 0 0 0;
    }
  }

  .panel-footer {
    h4 {
      text-align: center;
    }
  }
}

.vehicle-categories-public {
  h4 {
    margin: 11px 0 !important;
  }
  div.panel-heading {
    height: 80px;
    font-size: 1.7em;
    background-color: lighten($dark-green, 1.5%);
    h2 {
      text-align: center;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  div.panel-body {
    background-color: lighten($light-green, 2.5%);
    padding: 5px 10px 10px 10px;
  }

  div.panel-footer {
    background-color: lighten($light-green, 2.5%);
  }
}

.vehicle-categories-admin {
  h4 {
    margin: 11px 0 !important;
  }
  div.panel-heading {
    padding: unset;
    font-size: 1.7em;
    hr {
      margin-top: 15px;
      margin-bottom: 0;
    }
    h2 {
      text-align: center;
      padding-top: 15px;
    }
    .add-vehicle-btn {
      width: 100%;
      border-radius: 0;
      border: 0;
    }
  }
  div.panel-body {
    padding: 5px 10px 10px 10px;
  }

  div.panel-footer {
    background-color: lighten($light-green, 2.5%);
  }
}

.admin-dashboard-panel {
  .btn {
    width: 100%;
    border-radius: 0;
    border: 0;
  }

  hr {
    margin: 0;
  }

  div.panel-footer {
    padding: 0;
  }
}

.public-vehicle-panel {
  margin-bottom: 40px;
  .vehicle-panel-heading {
    height: 80px;
    overflow: auto;
    background-color: lighten($dark-green, 1.5%) !important;
    h3 {
      text-align: center;
      position: relative;
      top: 50%;
      transform: translateY(-50%); 
    }
  }
}

.vehicle-panel-admin-heading {
  height: 80px;
  h3 {
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
  }
}

.vehicle-panel-dashboard-heading {
  h2, h4 {
    text-align: center;
  }
}
