.panel {
  color: white;
  h5 {
    margin: 5px 0 0 0;
  }
  h2 {
    margin: 0;
  }
  h3 {
    text-align: center;
    margin: 0;
  }
  h4 {
    margin: 5px 0 0 0;
  }
  .panel-heading {
    text-align: center;
  }
}

.vehicle-panel-heading {
  background-color: $light-green !important;
  h3 {
    text-align: center;
  }
}

.vehicle-panel-admin-heading {
  //background-color: $dark-green !important;
  h3 {
    text-align: center;
  }
}

.vehicle-panel-dashboard-heading {
  h2, h4 {
    text-align: center;
  }
}