div.scrollable-chart {
  overflow-y: auto;
  margin: -15px;
  padding: 0 15px 15px 0;
  max-height: 290px;
}

div.scrollable-table {
  overflow-y: auto;
  max-height: 330px;
}

div.scrollable-table::-webkit-scrollbar,
div.scrollable-chart::-webkit-scrollbar {
  background: $dark-green;
  overflow: auto;
  width: 10px;
  height: 10px;
}

div.scrollable-table::-webkit-scrollbar-thumb,
div.scrollable-chart::-webkit-scrollbar-thumb {
  background: rgb(75, 206, 138);
  //border-radius: 5px;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0 inset;
}

div.scrollable-table::-webkit-scrollbar-thumb:hover,
div.scrollable-chart::-webkit-scrollbar-thumb:hover {
  background: rgb(75, 206, 138);
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0 inset;
}