table {
  //margin-bottom: 0 !important;
}

.vehicle-table-public {
  height: 254px !important;
  margin-bottom: 0;
  tbody {
    tr {
      th {
        background-color: $dark-green;
        border-top: unset !important;
        border-left: 1px solid $lighter-green !important;
        text-align: right;
        vertical-align: middle;
      }
      th.last {
        border-bottom: 1px solid $lighter-green !important;
      }
      th.first {
        border-top: 1px solid $lighter-green !important;
      }
      td {
        vertical-align: middle;
        border-bottom: 1px solid $lighter-green !important;
        border-left: 1px solid $lighter-green !important;
      }
      td.first {
        border-top: unset !important;
      }
    }
  }
}

.vehicle-table-dashboard {
  height: 254px !important;
  margin-bottom: 0;
  tbody {
    tr {
      th {
        background-color: $dark-green;
        border-top: unset !important;
        //border-left: 1px solid $lighter-green !important;
        text-align: right;
        vertical-align: middle;
      }
      th.last {
        //border-bottom: 1px solid $lighter-green !important;
      }
      th.first {
        border-top: 1px solid $lighter-green !important;
      }
      td {
        vertical-align: middle;
        border-bottom: 1px solid $lighter-green !important;
        border-left: 1px solid $lighter-green !important;
      }
      td.first {
        border-top: 1px solid $lighter-green !important;
      }
      td.last {
        border-bottom: unset !important;
      }
    }
  }
}

.vehicle-table-admin {
  height: 280px !important;
  margin-bottom: 0;
  tbody {
    tr {
      th {
        background-color: $dark-green;
        border-top: unset !important;
        //border-left: 1px solid $lighter-green !important;
        text-align: right;
        vertical-align: middle;
      }
      th.last {
        //border-bottom: 1px solid $lighter-green !important;
      }
      th.first {
        border-top: 1px solid $lighter-green !important;
      }
      td {
        vertical-align: middle;
        border-bottom: 1px solid $lighter-green !important;
        border-left: 1px solid $lighter-green !important;
      }
      td.first {
        border-top: 1px solid $lighter-green !important;
      }
      td.last {
        border-bottom: unset !important;
      }
    }
  }
}

//.vehicle-table-admin {
//  height: 280px !important;
//  margin-bottom: 20px !important;
//  tbody {
//    tr {
//      th {
//        background-color: $dark-green;
//        border-top: unset !important;
//        border-left: 1px solid $lighter-green !important;
//        text-align: right;
//        vertical-align: middle;
//      }
//      th.last {
//        border-bottom: 1px solid $lighter-green !important;
//      }
//      td {
//        vertical-align: middle;
//        border-bottom: 1px solid $lighter-green !important;
//        border-left: 1px solid $lighter-green !important;
//      }
//      td.first {
//        border-top: unset !important;
//      }
//    }
//  }
//}

.panel-table {
  margin-bottom: 0;
  thead {
    th.first {
      padding-left: 10px;
    }
    th {
      border: 0 !important;
    }
  }
  tbody {
    tr {
      th.first {
        padding-left: 10px;
      }
      td.first {
        padding-left: 10px;
      }
    }
  }
}