.vehicle-table-public {
  height: 254px !important;
  margin-bottom: 0;
  font-size: 1.1em;
  tbody {
    tr {
      th {
        background-color: $light-green;
        border-top: unset !important;
        text-align: right;
        vertical-align: middle;
        width: 45%;
      }
      th.first {
        border-top: 1px solid $lighter-green !important;
      }
      td {
        vertical-align: middle;
        border-bottom: 1px solid $lighter-green !important;
        border-left: 1px solid $lighter-green !important;
        background-color: lighten($light-green, 2.5%);
      }
      td.first {
        border-top: 1px solid $lighter-green !important;
      }
      td.last {
        border-bottom: unset !important;
      }
    }
  }
}

.vehicle-table-dashboard {
  height: 254px !important;
  margin-bottom: 0;
  tbody {
    tr {
      th {
        background-color: $light-green;
        border-top: unset !important;
        text-align: right;
        vertical-align: middle;
        width: 45%;
      }
      th.first {
        border-top: 1px solid $lighter-green !important;
      }
      td {
        vertical-align: middle;
        border-bottom: 1px solid $lighter-green !important;
        border-left: 1px solid $lighter-green !important;
        background-color: lighten($light-green, 2.5%);
      }
      td.first {
        border-top: 1px solid $lighter-green !important;
      }
      td.last {
        border-bottom: unset !important;
      }
    }
  }
}

.vehicle-table-admin {
  height: 280px !important;
  margin-bottom: 0;
  tbody {
    tr {
      th {
        background-color: $light-green;
        border-top: unset !important;
        text-align: right;
        vertical-align: middle;
        width: 45%;
      }
      th.first {
        border-top: 1px solid $lighter-green !important;
      }
      td {
        vertical-align: middle;
        border-bottom: 1px solid $lighter-green !important;
        border-left: 1px solid $lighter-green !important;
        background-color: lighten($light-green, 2.5%);
      }
      td.first {
        border-top: 1px solid $lighter-green !important;
      }
      td.last {
        border-bottom: unset !important;
      }
    }
  }
}

.panel-table {
  margin-bottom: 0;
  thead {
    th.first {
      width: 10%;
      padding-left: 10px;
    }
    th {
      width: 10%;
      border: 0 !important;
    }
  }
  tbody {
    font-size: 12px;
    tr {
      th.first {
        padding-left: 10px;
      }
      td.first {
        padding-left: 10px;
      }
    }
  }
}

.panel-table-2 {
  margin-bottom: 0;
  thead {
    th.first {
      padding-left: 10px;
    }
    th {
      border: 0 !important;
    }
  }
  tbody {
    tr {
      th.first {
        padding-left: 10px;
      }
      td.first {
        padding-left: 10px;
      }
    }
  }
}

table.contact-info {
  margin-bottom: 0 !important;

  tr.buttons {
    td {
      padding: 15px 0px 0px 0px;
    }
  }
}

.contact-info th,
.opening-hours th,
.contact-info td,
.opening-hours td {
  font-size: 1.4em;
  text-align: justify;
}

.opening-hours {
  tr {
    th {
      text-align: right;
    }
    td {
      text-align: left;
    }
  }
}

.contact-info {
  tr {
    th {
      width: 50%;
      text-align: right;
    }
    td {
      text-align: left;
    }
  }
}