
// Body
//$body-bg: rgb(61,61,61);
$body-bg:  #439D70;
//$body-bg: #ECECEC;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
//$brand-primary: #439D70;
$brand-info: #3b8b63;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Colours
$light-green: #439D70;
$lighter-green: rgb(75, 206, 138);
$dark-green: #3b8b63;

$brand-primary: $light-green;


//rgb(75, 206, 138)
$btn-info-color: white !default;
$btn-info-bg: $brand-info !default;
$btn-info-border: darken($btn-info-bg, 5%) !default;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-color: white;
$navbar-default-bg: #338D60;
$navbar-default-border: $brand-primary;
$navbar-default-link-color: white;
$navbar-default-link-hover-color: white;
$navbar-default-link-hover-bg: $brand-primary;
$navbar-default-link-active-color: white;
$navbar-default-link-active-bg: $brand-primary;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #338D60;
$panel-border-radius: 0;
$panel-inner-border: #3bb270;

//tables
$table-bg-hover: #368F62;
$table-border-color: $lighter-green;

//jumbotron
$jumbotron-color: white;
$jumbotron-bg: $brand-primary;

//tabs
$nav-tabs-border-color: unset;

//thumbnails
//$thumbnail-padding: 0;
$thumbnail-border: 0;
//$thumbnail-bg: rgba(61,61,61,0.3);
$thumbnail-bg: $dark-green;
//$thumbnail-bg: $brand-info;
$thumbnail-caption-color: white;
$thumbnail-border-radius: 0;

//tabs
$nav-link-hover-bg: $brand-primary;
$nav-tabs-border-color: $brand-primary;
$nav-tabs-link-hover-border-color: $brand-primary;
$nav-tabs-active-link-hover-bg: $navbar-default-link-active-bg;
//$nav-tabs-active-link-hover-bg: $brand-primary;
$nav-tabs-active-link-hover-color: white;
$nav-tabs-active-link-hover-border-color: $brand-primary;
$nav-tabs-justified-link-border-color: rgb(75, 206, 138);
$nav-tabs-justified-active-link-border-color: rgb(75, 206, 138);

//wells
$well-bg: $dark-green;
//$well-border: $lighter-green;

//dropdowns
//** Background for the dropdown menu.
$dropdown-bg:                    $light-green;
//** Dropdown menu `border-color`.
$dropdown-border:                $lighter-green;
//** Dropdown menu `border-color` **for IE8**.
$dropdown-fallback-border:       $lighter-green;
//** Divider color for between dropdown items.
$dropdown-divider-bg:           $lighter-green;

//** Dropdown link text color.
$dropdown-link-color:            white;
//** Hover color for dropdown links.
$dropdown-link-hover-color:      white;
//** Hover background for dropdown links.
$dropdown-link-hover-bg:         $dark-green;

//** Active dropdown menu item text color.
//$dropdown-link-active-color:     $component-active-color !default;
////** Active dropdown menu item background color.
//$dropdown-link-active-bg:        $component-active-bg !default;
//
////** Disabled dropdown menu item background color.
//$dropdown-link-disabled-color:   $gray-light !default;
//
////** Text color for headers within dropdown menus.
//$dropdown-header-color:          $gray-light !default;

$jumbotron-font-size: 18px;
