
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Local scss
@import "jumbotron";
@import "table";
@import "modal";
@import "datepicker";

.btn-info:focus {
  outline-color: $lighter-green;
  outline-width: 1px;
}

//:focus {
//  outline-color: $lighter-green;
//  outline-width: 1px;
//}

.vehicle-dashboard-info {
  color: $text-color;
  border-radius: unset;
  margin-bottom: 0;
  border: unset;
}

.vehicle-dashboard-navbar {
  margin-bottom: 0;
  border: 0;
}

.button-link {
  background: none !important;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  cursor: pointer;
}

nav {
  font-size: 1.2em !important;
}

body {
  //font-size: 21px;
  color: white;
}

.logo {
  filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.2));
  max-width: 700px;
  width: 100%;
  margin: auto;
}

.nav-tabs > li > a {
  color: white !important;
  //margin-right: 10px !important;
}

.nav-pills > li > a {
  color: white !important;
  text-align: center;
}

.vehicles-tab-content {
  //background-color: #439D70;
  background-color: $light-green;
  border: 1px solid $lighter-green;
  padding: 20px 20px 0 20px;
  margin-bottom: 19px;
  border-radius: $border-radius-base;
}

.vehicles-tab-content-admin {
  //background-color: #439D70;
  //border-left: 1px solid $lighter-green;
  //border-right: 1px solid $lighter-green;
  //border-bottom: 1px solid $lighter-green;
  padding-top: 20px;
  //padding-bottom: 20px;
}

.map {
  width: 100%;
  height: 500px;
}

.text-link {
  font-weight: bolder;
  color: white;
}

.text-link:hover, .text-link:focus {
  text-decoration: none !important;
}

.vehicle-summary > tbody > tr > th {
  text-align: right;
  color: white;
  //background-color: rgba(0,0,0,0.2);
  background-color: #337d57;
  border-top: unset !important;
  //border-bottom: 2px solid #307753 !important;
  //border-right: 2px solid rgba(0,0,0,0.1) !important;
}

.vehicle-summary > tbody > tr > th.last {
  border-bottom: 2px solid #307753 !important;
}

.vehicle-summary > tbody > tr > td {
  border-top: unset !important;
  color: white;
  background-color: #37855e;
  border-bottom: 2px solid #307753 !important;
}

.vehicle-img {
  text-align: center;
  width: 100%;
  margin-bottom: 0 !important;
  transition: 0.5s;
  background-color: $dark-green;
  //background-color: $light-green;
  //height: 275px;
  //height: 250px;
  //min-height: 250px;
  display: inline-block;
  vertical-align: middle;
  height: 300px;
  //border: 1px solid $lighter-green;
  line-height: 300px;
}

.vehicle-dashboard-img {
  height: 275px;
  line-height: 275px;
}


a > .vehicle-img {
  //height: 254px;
  text-align: center;
  margin-bottom: 0 !important;
  display: inline-block;
  vertical-align: middle;
  line-height: 235px;
  height: 235px;
}

.vehicle-img-button {
  //border-top: 1px solid;
  border-radius: 0px 4px 0px 0px !important;
  border-color: $lighter-green;
  //-moz-border-radius-topright: 4px;
  border-left: 0 !important;
  border-bottom: 0 !important;
}


table.contact-info {
  margin-bottom: 0 !important;
}

.contact-info th,
.opening-hours th,
.contact-info td,
.opening-hours td {
  font-size: 1.2em;
  text-align: justify;
}

.public-navbar {
  margin-bottom: 0;
  border: 0;
  z-index: unset !important;
}

.admin-navbar {
  border: 0;
  //z-index: 0;
}

.public-navbar-header {
  min-width: 100%;
  margin: 10px 0px;
}


.vehicle-dashboard-navbar-tabs {
  //background-color: transparent !important;
  border-radius: 4px 4px 0 0;
  margin-bottom: 0;
  //border: 0;
  //padding: 10px 0px 0px 10px;
}

.vehicle-dashboard-navbar-tabs > li > a:hover {
  //background-color: #3b8b63 !important;
  background-color: $dark-green !important;
  border-top: 1px solid rgb(75, 206, 138);
  border-left: 1px solid rgb(75, 206, 138);
  border-right: 1px solid rgb(75, 206, 138);
  //rgb(75, 206, 138);
  //padding: 10px 0px 0px 10px;
}

//.vehicle-dashboard-navbar-tabs > li > a:focus {
//  border: 0 !important;
//}

//.vehicle-navbar-tabs {
//  background-color: ;
//}

.vehicle-navbar-tabs > li > a:hover {
  background-color: $dark-green !important;
  border: 1px solid rgb(75, 206, 138);
}

.vehicle-navbar-tabs > li > a:focus {
  //background-color: #439D70;
  background-color: $dark-green;
  //border-top: 1px solid rgb(75, 206, 138);;
  //padding: 10px 0px 0px 10px;
}

.vehicle-navbar-tabs > li > a:active {
  //background-color: #439D70 !important;
  background-color: $dark-green !important;
  //border-top: 1px solid rgb(75, 206, 138);;
  //padding: 10px 0px 0px 10px;
}

.vehicle-dashboard-navbar-tabs > li > a:focus {
  background-color: $dark-green;
  //border-top: 1px solid rgb(75, 206, 138);;
  //padding: 10px 0px 0px 10px;
}

.vehicle-dashboard-navbar-tabs > li > a:active {
  background-color: $dark-green !important;
  //border-top: 1px solid rgb(75, 206, 138);;
  //padding: 10px 0px 0px 10px;
}

.vehicle-dashboard-tab-content {
  //background-color: $brand-info;
  //padding: 20px;
}

nav-tabs-justified > .active > a,
.nav-tabs.nav-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus,
.nav-tabs.nav-justified > .active > a:focus {
  //background-color: #439D70 !important;
  background-color: $dark-green !important;
}

nav-tabs-justified.vehicle-dashboard-navbar-tabs > .active > a,
.nav-tabs.nav-justified.vehicle-dashboard-navbar-tabs > .active > a,
.nav-tabs-justified.vehicle-dashboard-navbar-tabs > .active > a:hover,
.nav-tabs.nav-justified.vehicle-dashboard-navbar-tabs > .active > a:hover,
.nav-tabs-justified.vehicle-dashboard-navbar-tabs > .active > a:focus,
.nav-tabs.nav-justified.vehicle-dashboard-navbar-tabs > .active > a:focus {
  //background-color: #3b8b63 !important;
  background-color: $dark-green !important;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: $dark-green !important;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  border: 1px solid rgb(75, 206, 138);
}

.vehicles-list > tbody > tr > td {
  border-top: unset !important;
  border-left: 1px solid $lighter-green;
  padding: unset !important;
}

td {
  //padding: unset !important;
}

.dropdown-header {
  //background-color: $dark-green;
  //border-top: 1px solid $lighter-green;
  border-bottom: 1px solid $lighter-green;
}

.dropdown-header,
.dropdown-menu > li > a,
.dropdown-submenu > li > a {
  text-align: center;
  font-size: $font-size-base;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

#start_date_calender:hover {
  cursor: pointer;
}

#end_date_calender:hover {
  cursor: pointer;
}

//#overall_vehicle_hires_per_month {
//  display: none;
//}

div.scrollable-chart {
  overflow-y: auto;
  margin: -15px;
  padding: 0 15px 15px 0;
  max-height: 290px;
}

div.scrollable-table {
  overflow-y: auto;
  max-height: 450px;
}

div.scrollable-table::-webkit-scrollbar,
div.scrollable-chart::-webkit-scrollbar {
  background: $dark-green;
  overflow: auto;
  width: 10px;
  height: 10px;
}

div.scrollable-table::-webkit-scrollbar-thumb,
div.scrollable-chart::-webkit-scrollbar-thumb {
  background: $lighter-green;
  //border-radius: 5px;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0 inset;
}

div.scrollable-table::-webkit-scrollbar-thumb:hover,
div.scrollable-chart::-webkit-scrollbar-thumb:hover {
  background: darken($lighter-green, 5);
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0 inset;
}

.file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-input + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
}

.file-input:focus + label,
.file-input + label:hover {
  background-color: red;
}

.file-input:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.file-input + label {
  cursor: pointer; /* "hand" cursor */
}

//.shadow {
//  position: absolute;
//  width: 100%;
//  height: 100%;
//  box-shadow: inset 3px 3px 10px 0 #000000;
//  border-radius: 20px;
//  top: 0;
//  left: 0;
//}

.navbar-nav > li > a {
  text-align: center;
}

.panel {
  //margin: 15px 0;
  //margin: 0;
}

.panel-heading {
  color: white !important;
}

.panel-body > h5,
.panel-heading > h5 {
  color: white;
  margin: 5px 0 0 0;
}

.panel-body > h3,
.panel-heading > h3 {
  color: white;
  margin: 0;
}

.has-error .input-group-addon,
.has-error .help-block,
.has-error .control-label {
  color: white;
}

.well {
  padding: 19px 19px 0 19px;
}

.alert-danger {
  margin-bottom: 0;
}