
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Local scss
@import "jumbotron";
@import "table";
@import "modal";
@import "datepicker";
@import "navbar";
@import "dropdown";
@import "scrollable";
@import "form";
@import "panel";
@import "image";
@import "public/public";

.logo {
  filter: drop-shadow(1px 1px 5px rgba(0,0,0,0.2));
  max-width: 700px;
  width: 100%;
  margin: auto;
}

.map {
  width: 100%;
  height: 500px;
  box-shadow: 0px 0px 5px rgba(0,0,0, 0.2)
}

.text-link {
  font-weight: bolder;
  color: white;
}

.text-link:hover, .text-link:focus {
  text-decoration: none !important;
}

button[type="submit"] {
  float: left;
}

.btn-group {
  float: left;
}

body {
  text-shadow: 0px 0px 3px rgba(0,0,0, 0.2)
}

.has-error .input-group-addon {
  color: white;
}