
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.panel-title-text {
  color: white !important;
}

.vehicle-dashboard-heading {
  padding: 0;
}

.vehicle-dashboard-info {
  color: $text-color;
  border-radius: unset;
  margin-bottom: 0;
  border: unset;
}

.vehicle-dashboard-navbar {
  margin-bottom: 0;
  border: 0;
}

.button-link {
  background: none !important;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  cursor: pointer;
}

table {
  //background-color: #196c4b;
  margin-bottom: 0 !important;
  //font-size: 0.9em !important;
}

.opening-hours th,
.opening-hours td {
  font-size: 1.4em;
}

nav {
  font-size: 1.2em !important;
}

body {
  //font-size: 21px;
  //color: white;
}

%jumbotron-base {
  //width: 100%;
  //height: 100%;
  //alignment: center;
  //max-width: 3000px;
  margin: 0;
  overflow: hidden;
  text-shadow: 2px 2px rgba(0,0,0,0.4);
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  //box-shadow: inset 0 0 20px 10px rgba(0,0,0,0.8);
  //margin-bottom: 0;
}

%jumbotron-base-img {
  //width: 60%;
  //height: 100%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  //z-index: 1;
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -o-filter: blur(6px);
  -ms-filter: blur(6px);
  filter: blur(6px);
  transform: scale(1.03);
  opacity: 0.9;
  //margin: auto;
}

.jumbotron-home {
  @extend %jumbotron-base;
  text-align: center;

  .bg {
    @extend %jumbotron-base-img;
    background: #000 url("/static/nav-img.jpg") 28% 40% no-repeat;
  }
}

.jumbotron-vehicles {
  @extend %jumbotron-base;
  text-align: center;

  .bg {
    @extend %jumbotron-base-img;
    background: #000 url("/static/van.jpg") 45% 44% no-repeat;
  }
}

.jumbotron-contact {
  @extend %jumbotron-base;

  .bg {
    @extend %jumbotron-base-img;
    background: #000 url("/static/carRepair.jpg") 50% 38% no-repeat;
  }
}

  @mixin jumbotron-bg($img) {
    background: #000 url($img) center center no-repeat;
  }

  @mixin jumbotron-text($text-align) {
    text-align: $text-align;
  }

  .jumbotron .container {
    position:relative;
    z-index:2;
  }

.logo {
  filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.2));
  max-width: 700px;
  width: 100%;
  margin: auto;
}

.nav-tabs > li > a {
  color: white !important;
  //margin-right: 10px !important;
}

.vehicles-tab-content {
  background-color: #439D70;
  padding: 20px;
}

.jumbotron-header {
  margin-bottom: 0;
  padding-top: 28px;
}

.jumbotron-content {
  background-color: #3b8b63;
  margin-bottom: 0;
}

.map {
  width: 100%;
  height: 500px;
}

.text-link {
  font-weight: bolder;
  color: white;
}

.text-link:hover, .text-link:focus {
  text-decoration: none !important;
}

.vehicle-summary > tbody > tr > th {
  text-align: right;
  color: white;
  //background-color: rgba(0,0,0,0.2);
  background-color: #337d57;
  border-top: unset !important;
  //border-bottom: 2px solid #307753 !important;
  //border-right: 2px solid rgba(0,0,0,0.1) !important;
}

.vehicle-summary > tbody > tr > th.last {
  border-bottom: 2px solid #307753 !important;
}

.vehicle-summary > tbody > tr > td {
  border-top: unset !important;
  color: white;
  background-color: #37855e;
  border-bottom: 2px solid #307753 !important;
}

.contact-info th,
.contact-info td {
  font-size: 1.4em;
}

.public-navbar {
  margin-bottom: 0;
  border: 0;
}

.admin-navbar {
  border: 0;
}

.public-navbar-header {
  min-width: 100%;
  margin: 10px 0px;
}

.admin-navbar-header {
  //max-width: 100%;
  //padding: 5px 5px 5px 5px;
}

.jumbotron-vehicle-dashboard {
  //padding: 0 !important;
  border-radius: 0 !important;
  min-height: 650px;
}

.vehicle-dashboard-navbar-tabs {
  //background-color: transparent !important;
  border-radius: 4px 4px 0 0;
  //margin-bottom: 0;
  //border: 0;
  //padding: 10px 0px 0px 10px;
}

.vehicle-dashboard-navbar-tabs > li > a:hover {
  background-color: #3b8b63;
  border-top: 1px solid rgb(75, 206, 138);
  border-left: 1px solid rgb(75, 206, 138);
  border-right: 1px solid rgb(75, 206, 138);
  //rgb(75, 206, 138);
  //padding: 10px 0px 0px 10px;
}

.vehicle-dashboard-navbar-tabs > li > a:focus {
  background-color: #3b8b63;
  //border-top: 1px solid rgb(75, 206, 138);;
  //padding: 10px 0px 0px 10px;
}

.vehicle-dashboard-navbar-tabs > li > a:active {
  background-color: #3b8b63 !important;
  //border-top: 1px solid rgb(75, 206, 138);;
  //padding: 10px 0px 0px 10px;
}

.vehicle-dashboard-tab-content {
  //background-color: $brand-info;
  //padding: 20px;
}
