.paragraph {
  @media(max-width:767px) {
    text-align: center;
  }
  font-size: 1.3em !important;
}

.caption {
  color: #ededed;
  margin-top: 20px;
  margin-bottom: 0 !important;
  text-align: center;
  font-size: 1.2em !important;
  @media(max-width:767px) {
    margin-bottom: 20px !important;
  }
}

.owner {
  width: 100%;
  border-radius: 50%;
}

.public-hr {
  @media(max-width:767px) {
    display: block;
  }
  @media(min-width:768px) {
    display: none;
  }
}

.public-img {
  width: 100%;
}

.main-header {
  margin-top: 0;
}

.main-header, .sub-header {
  @media(max-width:767px) {
    text-align: center;
  }
}

.map-header {
  margin-top: 0;
  @media(max-width:767px) {
    text-align: center;
  }
}

.table-header {
  padding-left: 8px;
}

.vehicle-search-hr-bottom{
  margin: 15px 11px 10px;
}

#vehicle-sort-ascending:hover,
#vehicle-sort-descending:hover {
  cursor: pointer;
}
